@import "~bootstrap/scss/bootstrap";

h1 {
    color: blue;
}

.taskboard-nav{
    background-color: #f2efeb;    
    padding-left: 1rem;
}

.global-color{
    color: #8a48f4;//0F002F;//23016B;//4287f5
    font-weight: 500;    
}

.text-color{
    color: whitesmoke
}

.add-item{
    &:hover{
        color: #0f0f0f;   
       }
}

.global-footer-text{
    color: #8a48f4;//23016B;//4287f5
    font-weight: 400;
    font-size: 14px;
}

.modal-create-btn{
    background-color: #8a48f4;
    border: #0f0f0f;
    border-radius: 3px;
    height: 35px;
    &:hover{
        background-color: #530fc2;
    }
}

.modal-cancel-btn{
    background-color: white;
    border: #0f0f0f;
    border-radius: 3px;
    height: 35px;
}

.taskboard-footer{
    height: 10rem;
    background-color: #0f0f0f;
    text-align: center;
}

.component-div{
    height: 50rem; 
    padding-top: 1rem;  
    background-color: #FBFBFB;  
}

.task-area{
    background-color: #f2efeb;
    height: 48rem;
    border-radius: 8px;
    text-align: center;
    padding-top: 1rem;
    border-width: 1px;
    border-color: #0f0f0f;
}

.task-insert-btn{
    border: #ffffffff;
    background-color: #0f0f0f;
    border-radius: 8px;
}

.create-input{
    width: 100%;
    height: 40px;
    border-radius: 3px;
    border-color: #530fc2;
    border-width: 1px;
    color: #530fc2;
}