@import "~bootstrap/scss/bootstrap";

h1 {
    color: blue;
}

.taskboard-nav{
    background-color: #fbfbfb;    
    padding-left: 1rem;
    box-shadow: 2px 1px 1px 1px rgba(138,72,244, .2);
}

.taskboard-nav-dark{
    background-color: #18181b;    
    padding-left: 1rem;
    box-shadow: 2px 1px 1px 1px rgba(8, 8, 8, 0.4);
}

.global-color{
    color: #8a48f4;//0F002F;//23016B;//4287f5
    font-weight: 500;    
}

.text-color{
    color: whitesmoke
}

.add-item{
    &:hover{
        color: #4505ad;   
       }
}

.global-footer-text{
    color: #8a48f4;//23016B;//4287f5
    font-weight: 400;
    font-size: 14px;
}

.modal-create-btn{
    background-color: #8a48f4;
    border: #0f0f0f;
    border-radius: 3px;
    height: 35px;
    &:hover{
        background-color: #530fc2;
    }
}

.modal-cancel-btn{
    background-color: white;
    border: #0f0f0f;
    border-radius: 3px;
    height: 35px;
}

.taskboard-footer{
    height: 10rem;
    background-color: #353535;
    text-align: center;
}

.taskboard-footer-dark{
    height: 10rem;
    background-color: #1f1f23;
    text-align: center;
}

.component-div{
    height: 50rem; 
    padding-top: 1rem;  
    //background-color: #efeff1;//#dfdcf5;  
    background-color: #eaecfa;  
}

.component-div-dark{
    height: 50rem; 
    padding-top: 1rem;  
    //background-color: #efeff1;//#dfdcf5;  
    background-color: #0e0e10;  
}

.task-area{
    background-color: #fbfbfb;
    height: 48rem;
    border-radius: 15px;
    box-shadow: 2px 2px 1px 1px rgba(83,15,194, .4);
    text-align: center;
    padding-top: 1rem;
    border-width: 1px;
    &:hover{
        box-shadow: 4px 4px 4px 1px rgba(83,15,194, .4);
    }
}

.task-area-dark{
    background-color: #1f1f23;
    height: 48rem;
    border-radius: 15px;
    box-shadow: 2px 2px 1px 1px rgba(8, 8, 8, 0.4);
    text-align: center;
    padding-top: 1rem;
    border-width: 1px;
    &:hover{
        box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.4);
    }
}

.task-insert-btn{
    border: none;
    background-color: #0f0f0f;
    border-radius: 8px;
}

.create-input{
    width: 100%;
    height: 40px;
    border-radius: 3px;
    border-color: #530fc2;
    border-width: 1px;
    color: #530fc2;
}

.task-card{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: -5px;
    margin-bottom: 12px;
    //background-color: #f3f2ef;
    background-color: #eaecfa;
    min-height: 3rem;
    border-radius: 12px;
    text-align: left;
    box-shadow: 1px 1px 1px 1px rgba(138,72,244, .4);
    &:hover{
        box-shadow: 2px 2px 2px 1px rgba(83,15,194, .4);
    }
}

.task-card-dark{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: -5px;
    margin-bottom: 12px;
    //background-color: #f3f2ef;
    background-color: #0e0e10;
    min-height: 3rem;
    border-radius: 12px;
    text-align: left;
    box-shadow: 2px 2px 1px 1px rgba(8, 8, 8, 0.4);
    &:hover{
        box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.4);
    }
}

.task-card-inner{
    margin-left: 5px;
    margin-right: 5px;
}

.task-text{
    color: #8a48f4;//0F002F;//23016B;//4287f5
    font-weight: 500;      
    font-size: 14px;    
}

.task-card-button{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 8px;
    padding-bottom: 5px;
    justify-content: space-between;
    display: flex;
}

.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 17px;
    margin-right: 1rem;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #8a48f4;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #8a48f4;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .modal-bg{
    background-color: #eaecfa;
  }

  .modal-bg-dark{
    background-color: #0e0e10;
  }